{% extends "layout.html" %}

{% block content %}
<div class="hero">
    <div class="left"></div>
    <div class="right">
        <div class="content-box">
            <h1 class="label"> SPOTLIGHT <h1>
        </div>
    </div>
</div>

<!--blog grid with side menu-->
<div class="site-container">
    <main>
        <div class="blog">

            <div class="blog-post">
                <div class="thumbnail">
                    <img src="https://assets.website-files.com/62fe95d11738cf95c53573dd/641b333d447b04d4a880d972_Kim-Asendorf_Cargo.jpg" alt="Cargo">
                </div>
                <div class="blog-content">
                    <a class="artist_link" href="https://www.artblocks.io/info/spectrum/in-conversation-with-kim-asendorf-on-cargo" target="_blank">Asendorf on Cargo</a>
                    <h3> Kim Asendorf <h3>
                    <p>Kim Asendorf is a German artist who employs conceptual strategies and generative systems to produce abstract animations, images, and sculptures. His work revolves around the pixel, which is animated and arranged in his distinctive Pixel Sorting style. Through algorithms, Asendorf creates abstract visual systems that offer various interpretations. His creations, blending simplicity and complexity, captivate viewers and induce a mesmerizing experience. Driven by curiosity, he constantly experiments and derives satisfaction from surprising outcomes. With a background in Net Art, Asendorf values accessibility and considers the internet as his preferred medium.</p>
                    <a class="artist_link" href="https://kimasendorf.com" target="_blank">kimasendorf.com</a><br>
                    <a class="artist_link" href="https://twitter.com/kimasendorf" target="_blank">Twitter</a>
                </div>
            </div>

            <div class="blog-post">
                <div class="thumbnail">
                    <img src="static/images/tape_silly.jpg" alt="">
                </div>
                <div class="blog-content">
                    <a class="artist_link" href="" target="_blank"> Link</a>
                    <h3> top twenty<h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a class="artist_link" href="" target="_blank"> Link</a><br>
                    <a class="artist_link" href="" target="_blank"> Link</a>
                </div>
            </div>

            <div class="blog-post">
                <div class="thumbnail">
                    <img src="static/images/blotter.jpg" alt="">
                </div>
                <div class="blog-content">
                    <a class="artist_link" href="" target="_blank"> Link</a>
                    <h3> top thirty<h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a class="artist_link" href="" target="_blank"> Link</a><br>
                    <a class="artist_link" href="" target="_blank"> Link</a>
                </div>
            </div>

            <div class="blog-post">
                <div class="thumbnail">
                    <img src="static/images/blotter.jpg" alt="">
                </div>
                <div class="blog-content">
                    <a class="artist_link" href="" target="_blank"> Link</a>
                    <h3> top ten<h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a class="artist_link" href="" target="_blank"> Link</a><br>
                    <a class="artist_link" href="" target="_blank"> Link</a>
                </div>
            </div>

            <div class="blog-post">
                <div class="thumbnail">
                    <img src="static/images/blotter.jpg" alt="">
                </div>
                <div class="blog-content">
                    <a class="artist_link" href="" target="_blank"> Link</a>
                    <h3> top ten<h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a class="artist_link" href="" target="_blank"> Link</a><br>
                    <a class="artist_link" href="" target="_blank"> Link</a>
                </div>
            </div>

            <div class="blog-post">
                <div class="thumbnail">
                    <img src="static/images/blotter.jpg" alt="">
                </div>
                <div class="blog-content">
                    <a class="artist_link" href="" target="_blank"> Link</a>
                    <h3> top ten<h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a class="artist_link" href="" target="_blank"> Link</a><br>
                    <a class="artist_link" href="" target="_blank"> Link</a>
                </div>
            </div>
<!--            <div class="pagination">            Page scroll
                <a href="#">&laquo;</a>
                <a href="" class="active">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="#">&raquo;</a>
            </div>    -->
        </div>
    </main>
</div>
{% endblock %}